target/
bin/
.classpath
.project
.settings/
.idea
*.iml
driver/
driver_zips/
**/error-screenshots/

package.json
node_modules/
**/frontend/main.js
webpack.config.js
vaadin-spring-tests/test-spring-boot/frontend*
