target/
bin/
.classpath
.project
.settings/
.idea
.vscode
*.iml
driver/
driver_zips/
**/error-screenshots/

node_modules/
package*.json
webpack.config.js
webpack.generated.js
**/frontend/generated/

vaadin-spring-tests/**/.npmrc
vaadin-spring-tests/**/pnpm-lock.yaml
vaadin-spring-tests/**/pnpmfile.js
vaadin-spring-tests/**/tsconfig.json
vaadin-spring-tests/**/types.d.ts
